.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.logo {
  width: 80px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-link {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.login-btn {
  padding: 0 20px;
  cursor: pointer;
}

.body {
  padding: 20px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Search {
  padding: 5px;
}

l̥ .Search > input[type="text"] {
  width: 300px;
  padding: 5px;
}

.search-btn {
  cursor: pointer;
}
.filter-btn {
  padding: 5px;
  cursor: pointer;
}

.res-card-container {
  display: flex;
  flex-wrap: wrap;

  /* justify-content: space-evenly;
  align-items: center; */
}
.res-card {
  width: 300px;
  min-height: 380px;
  margin: 8px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.res-card:hover {
  border: 1px solid gray;
  cursor: pointer;
}

.res-thumb-img {
  width: 300px;
  height: 200px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shimmer-card {
  width: 300px;
  min-height: 350px;
  margin: 8px;
  padding: 15px;
  background-color: #f0f0f0;
}

/* Restaurant Details Page */
.restaurantInfoWrapper {
  max-width: 800px;
  min-height: 800px;
  margin: 20px auto 0;
}

.info-box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 45px;
}

.item-info {
  margin-right: 75px;
}

.item-name {
  margin-bottom: 10px !important;
}

.item-price {
  margin: 0 !important;
}

.menu-item-img {
  width: 118px;
  height: 96px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 6px;
}
